@{
    ViewData["Title"] = "Jolly Holidays";
}



<head>
	<div class="d-inline-flex p-2 bd-highlight bg-warning">
		<meta charseet="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Jolly Holidays</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link rel="icon" type="image/x-icon" href="https://i.postimg.cc/3Jqg3jV9/travel.webp"></link>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"></link>
		<img src = "~/img/travel.jpg" alt = "" >
		<h1>Jolly Holidays</h1>
		<img src="https://i.postimg.cc/BQ8F6vG8/trainimage.png" class="img-rounded" alt="Cinque Terre" width="70" height="50">
	</div>
</head>
	
<div class="ticket">
	<marquee>Jolly days is always with holidays</marquee>
</div><br>
<

	


 